<div>
  <header class="flex mb4 header">
    <i class="h1 fa fa-bullseye fa-5x mr2 blue"></i>
    <div class="flex-auto">
      <h3 id="qa-display-name"
        class="mb0 mt1 caps">
        {{ctrl.user.displayName}}
      </h3>
      <p class="h1 mb0">We've Got {{ctrl.tasks.length}} Tasks</p>
    </div>
  </header>
  <div class="mt4 mb4" ui-view="actionArea"></div>
  <div class="md-col-8 mx-auto rounded tasks-list mb4">
    <ngc-task ng-repeat="task in ctrl.tasks" 
      task="task" 
      user="ctrl.users[task.owner]"
      on-delete="ctrl.delete(task)">
    </ngc-task>
  </div>
</div>