<ngc-login-form
  ng-hide="ctrl.authenticationInfo.isAuthenticated"
  on-submit="ctrl.login(data)"
  error-message="ctrl.errorMessage">
</ngc-login-form>

<div class="clearfix white bg-blue"
  ng-show="ctrl.authenticationInfo.isAuthenticated">
  <div class="left col-4 aqua">
    <p class="btn py2 m0 truncate">
      <i class="fa fa-bolt px1"></i> 
      Hello, 
      <span>
        {{ctrl.authenticationInfo.data.displayName}}
      </span>!
    </p>
  </div>
  <div class="right">
    <a class="btn py2 m0"
      ui-sref="tasks.add">
      <i class="fa fa-plus-circle"></i> Add Task
    </a>
    <a id="qa-logout-link"
      class="btn py2 m0"
      href="#"
      ng-click="ctrl.logout()">
      Logout
    </a>
  </div>
</div>

<div class="px2"
  ng-show="ctrl.authenticationInfo.isAuthenticated"
  ng-transclude>
</div>